.book {
    width: 300px;
    height: 550px;
    margin: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.book__img-panel {
    height: 450px;
    width: 100%;
}

.book__name {
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-indent: 20px;
    color: #c2c3c4;
}

.book-author {
    display: flex;
    justify-content:flex-start;
    align-items: center;

    height: 25px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-indent: 20px;
    color: #c5d2d7;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.book-rating {
    height: 25px;
    width: 100%;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    user-select: none;
}

.stars {
    margin-left: 20px;
    color: #eeaa00;
}

.book__img-view {
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 100%;
}


