.book-editor__banner {
    display: none;
    width: 100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;

}
.book-editor__banner .book-editor {
    margin-top: 20%;
    margin-left: 40%;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;

    width: 500px;
    height: 300px;
}

.book-editor__element {
    margin-left: 20px;
    margin-top: 5px;
}

.book-editor__rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
}

.book-editor__rating-star-inactive {
    color: #cc9259;
}

.book-editor__rating-star-active {
    color: #cc511c;
}

.book-editor__rating-star {
    cursor: pointer;
}

.book-editor__rating-star:hover,
.book-editor__rating-star:hover ~ .book-editor__rating-star {
    color: #cc511c;
}


/*.stars {
    unicode-bidi: bidi-override;
    direction: rtl;
}*/
