.low-panel__settings {
    color: #86e6ff;
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;

    background-color: #1f2638;
}

.low-panel__reference {
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;

    background-color: #16a4fa;
}

