.settings {
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;

    background-color: #1f2638;
}

.help {
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;

    background-color: #16a4fa;
}