#bar {
    top:-75px;
    right:170px;
    position: absolute;
    padding: 5px;
    margin: 0;
    text-align: center;
    width: 70px;
    background: #48a4ff;
    color: #ffffff;
    border-radius: 0px 0px 5px 5px;
}

#bar:active {
    top: 0;
}

.item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
