div {
    margin: 20px;

}

p {
    margin-right: 5%; /* Отступ справа */
    margin-left: 5%; /* Отступ слева */
}

#one, #two {
    width: 300px;
}

#one {
    color: #ffffff;
    font-size: 22pt;
    background-color: #ff4f71;
}

#two {
    background-color: #ff88b2;
    font-size: 12pt;
    height: 127px;
}

