body {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content:center;
}

.panel {
    height: 800px;
    width: 800px;

    display: flex;
    flex-direction: column;
}

.name {
    height: 100px;
    width: 100%;

    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 45px;
    font-weight: 700;

    display: flex;
    justify-content:center;
    align-items: center;
}

.menu {
    height: 600px;
    width: 100%;
    background-color: #606b77;
    overflow: auto;

    border-radius: 25px 25px 0px 0px;
}

.menu::-webkit-scrollbar {
    width: 0px;
}

.items {
    list-style-type: none;

    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
    font-weight: 700;
}

.item {
    border-radius: 10px 10px 10px 10px;
    float:left;
    content: " ";

    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
    font-weight: 700;

    margin-right: 15px;
    margin-top: 8px;
    text-align: center;
    text-indent: 0px;
    width: 25px;
    height: 25px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;

    display: flex;
    justify-content:center;
    align-items: center;

    user-select: none;
}

.actions {
    height: 100px;
    width: 100%;
    background-color: #606b77;

    display: flex;
    justify-content:space-between;
    align-items: stretch;
    border-radius: 0px 0px 25px 25px;
}

.add_button {
    width: 30%;
    margin: 10px;
    background-color: #a3f83d;

    border-radius: 10px 10px 10px 10px;

    background: linear-gradient(to bottom, #F3AE0F, #E38916) #E38916;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;

    display: flex;
    justify-content:center;
    align-items: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    font-weight: 700;

    transition: 0.5s;
}

.add_button:hover {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.add_button:active {
    background: linear-gradient(to top, #F3AE0F, #E38916) #E38916;
}

.new_item {
    width: 70%;
    margin: 10px;
    background-color: #f5f8ff;

    font-size: 50px;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

