html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#top_panel {
    background-color: #2f3649;
    height: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: stretch;
}

#top_panel_help_center {
    width: 100px;

    display: flex;
    justify-content:center;
    align-items: center;
}

#top_panel_support {
    width: 100px;

    display: flex;
    justify-content:center;
    align-items: center;
}

#top_panel_user {
    width: 150px;
    background-color: #16a4fa;

    display: flex;
    justify-content:center;
    align-items: center;
}

.user {
    margin-left: 5px;
    margin-right: 5px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ff6f80;
}

.status {
    margin-left: 5px;
    margin-right: 5px;

    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#page {
    display: flex;
    height: 100%;
}
#low_panel {
    background-color: #181e2c;
    height: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: stretch;
}

#help {
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;

    background-color: #16a4fa;
}

#all_sittings {
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;

    background-color: #1f2638;
}

#sidebar {
    flex-basis: 15%;
    background-color: #1f2638;
}

#sidebar_button {
    background-color: #1f2638;
    height: 15%;

    display: flex;
    justify-content:center;
    align-items: center;
}

#add_book {
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    height: 60px;
    border-width: 2px;
    border-color: #1f2638;
    border-style: solid none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    background-color: #f27b5c;
}

#sidebar_settings {
    background-color: #1f2638;
    height: 29%;
    display: flex;
    flex-direction: column;

    justify-content:space-around;
    align-items: stretch;
}

.sidebar_settings_item {
    flex: auto;
    color: #76727e;
    font-size: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar_settings_item:hover {
    background-color: #16a4fa;
    color: white;
}

#sidebar_popularity {
    background-color: #1f2638;
    height: 24%;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: stretch;
}

.sidebar_popularity_item {
    flex: auto;
    display: flex;
    align-items: center;
    color: #76727e;
    font-size: 16px;
}

.sidebar_popularity_item:hover {
    background-color: #fa9271;
    color: #ffb7d6;
}

[id ^= sidebar_settings_item]:before {
    content: '  ';
}

[id ^= sidebar_settings_item]:after {
    content: '  ';
}

[id ^= sidebar_popularity_item]:before {
    content: '  ';
}

[id ^= sidebar_popularity_item]:after {
    content: '  ';
}

#sidebar_popularity_item_1 {
   color: red;
}

#sidebar_popularity_item_2 {
    color: yellow;
}

#sidebar_popularity_item_3 {
    color: #eeeeee;
}

#sidebar_popularity_item_4 {
    color: #48a4ff;
}

#sidebar_warnings {
    background-color: #1f2638;
    height: 22%;
    overflow:hidden;

    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.warning_add_book {
    height: 130px;
    color: #454d60;
    font-size: 18px;
}

.warning_img {
    float: left;
    margin-right: 15px;
    margin-bottom: 100%;
    margin-left: 25px;
}

.warning_time {
    float: left;
    font-size: 16px;
    margin-top: 35px;
}

.warning_link {
    color: #606b77;
}

.sidebar_line {
    height: 1%;
    background: linear-gradient(to top, #363836, #0f0830);
}

#info {
    flex-basis: 85%;
}

#info_name {
    background-color: #eef1f8;
    height: 3%;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-indent: 20px;
    color: #3c424e;
}

#info_settings {
    background-color: #eef1f8;
    height: 6%;
    display: flex;
    align-items: center;
}

.info_settings_item  {

    border-radius: 50px 50px 50px 50px;
    width: 100px;
    height: 25px;
    font-size: 14px;
    margin-left: 20px;

    display: flex;
    justify-content:center;
    align-items: center;
}

.info_settings_item:hover {
    background-color: #96b4ce;
}

#search {
    background-color: #ffffff;
    margin-left: auto;

    border-radius: 50px 50px 50px 50px;
    width: 500px;
    height: 35px;
    margin-right: 20px;

    display: flex;
    justify-content:center;
    align-items: center;
}

#search_searcher {
    width: 440px;
    border: none;
}

#search_button {
    width: 30px;
    height: 20px;
    border: none;
    background-color: white;
}

#info_view {
    background-color: white;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.book_view {
    background-color: #16a4fa;
    width: 526px;
    height: 750px;
    border: 4px double black;
}

.info_line {
    height: 0.5%;
    background: linear-gradient(to bottom, #87dcef, #f5f8ff);
}

