#one {
    position: relative;
    background-color: #48a4ff;
    width: 300px;
    height: 150px;
    top: 100px;
    left: 100px;
    border: 5px solid #9cf8ff;
    color: white;
    padding: 10px;
    z-index: 0;
}

#one:before {
    position: relative;
    left: 125px;
    top: -60px;
    border: 30px solid transparent;
    border-bottom: 30px solid #9cf8ff;
    content: '';
}

#one:after {
    position: relative;
    left: 73px;
    top: -143px;
    border: 30px solid transparent;
    border-bottom: 30px solid #48a4ff;
    content: '';
}


