#one {
    background-color:red;
    width: 250px;
    height: 45px;
    margin: 5px;
    padding: 10px;
}

#two {
    font-variant: normal;
    font-weight: 100;
    text-align: center;
}

#three {
    font-family: arial;
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
    font-size: 40px;
}

#four {
    font-family: sans-serif;
    font-style: oblique;
    font-variant: small-caps;
    font-weight:500;
    font-size: 40px;
}

#five {
    font-size: 40px;
    font-weight: lighter;
    text-align: justify;
}

#six {
    font-size: 40px;
    font-variant: small-caps;
    text-align: justify;
    text-transform: lowercase;
    direction:ltr;
    vertical-align: super;
}

#seven {
    font-size: 40px;
    text-align: justify;
    text-decoration: underline;
    letter-spacing: -4px;
    line-height: 100px;
}

#eight {
    font-size: 40px;
    vertical-align: super;
    white-space: pre-line;
}


